.landing {
  display: flex;
  flex-direction: column;
  padding-bottom: 400px;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1616761512547-ea151d8a56d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1386&q=80) ;
}

.header__search {
  position: relative;
  display: flex;
  min-width: 100px;
  height: 30px;
}
.opt__basket {
  background-color: white;
}

.head__searchInput {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #a09898;
  transition: transform 450ms;
}

.head__searchInput:hover {
  border: 1.5px solid #253130;
  background-color: none;
  transform: scale(1.01);
}

.head__searchIcon {
  position: absolute;
  top: 8.5px;
  left: 8px;
  width: 20px;
}

.head__cancel {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;
  visibility: hidden;
}

.head__opt1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.head__nav {
  display: flex;
  padding-top: 15px;
  justify-content: space-evenly;
  font-size: 50px;
}

.head_options {
  font-size: 18px;
  font-weight: 800;
  flex-wrap: nowrap;
  min-width: 75px;
  padding-left: 8px;
  padding-right: 3px;
  transition: transform 450ms;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.head_options:hover {
  transform: scale(1.2);
}

.landing__text {
  margin-top: 50px;
}

.landing__txt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  font-weight: 800px;
  font-size: 50px;
  padding-top: 100px;
  margin-top: 30px;

  color: white;
  font-family: sans-serif;
}
.landing__txt2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  font-weight: 600px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  font-family: sans-serif;
}

.landing__button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  margin-top: 50px;
  border: none;
  padding: 0px;
  border: maroon;
}

.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
/*1*/
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/*2*/
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Open Sans Condensed", sans-serif;
}

div[class*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  background-color: #ff6766;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
